@import url('https://fonts.googleapis.com/css?family=PT+Sans');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
}

#logo {
    height: 95px;
    width: 95px;
    padding-top: 15px;
    margin-left: 32%;
    border-radius: 8px;
}

nav {
    width: 15%;
    height: 100%;
    background-color: #004D40;
    position: absolute;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 20px;
    margin-left: 30%;
    color: white;
    font-size: 1.3em;
}

.navlink:nth-child(2){
    margin-left: 33%;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #009688;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #4DB6AC;
}

.taskForm {
    height: 50px;
    width: 100%;
    margin-top:0px;
    padding-top:10px;
    margin-left: 15%;
    background-color: #00695C;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.taskForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.taskForm input[type=text] {
    float:left;
}

.makeTaskSubmit {
  
    margin-left: 25px;
    display: inline;
    width: 90px;
    height: 28px;
    background: #009688;
    border-radius: 4px;
    border: none;
    color:  white;
    text-decoration: none;
}

.makeTaskSubmit:link, .makeTaskSubmit:visited, .makeTaskSubmit:hover, .makeTaskSubmit:active {
    color: white;
}

.makeTaskSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #4DB6AC;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin-left: 43%;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #009688;
    border-radius: 5px;
    border: none;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #4DB6AC;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
    margin-top: 20px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #4DB6AC;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#tasked {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#tasks {
    width: 70%;
    min-width: 400px;
    border-radius: 4px;
    margin-left: 22%;
    margin-top: 50px;
}

.tasked {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #E0F2F1;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.tasked:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #B2DFDB;
}


h3.taskDomo {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}


.task:first-child {
    margin-top: 10px;
}

.task:last-child {
    margin-bottom:10px;
}

